/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
    color: #0000ff;
    font-weight: bold;
}

nav .navbar-brand.green
{
    color: #00ff1e;
}

nav .navbar-brand.black
{
    color: #0c0d0c;
}
/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav.navbar-brand.red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #eb9f52;
}

.wrapper{
	width: 1000px;
    background-color: #0000ff;
	margin: 0 auto;
}

ul.site-navigation {
	text-align: center;
    list-style: none;
    
}

ul.site-navigation li a{
	padding: 50px 0 47px 0;
	font-family: 'Arvo', serif, Georgia;
	width: 125px;
	float: left;
	letter-spacing: 4px;
	text-transform: uppercase;
	-o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
	color: #0000ff;
	border-bottom: 3px solid transparent;
   
}

ul.site-navigation > li {
    position: relative;
    width: 125px;
    float:left;
    margin: 0;
    
}

ul.site-navigation a:hover{
	font-weight: bold;
	border-bottom: 3px solid rgb(74, 4, 195);
	text-shadow: rgb(116, 6, 141) 1px 1px 0px;
	padding: 97px 0 0 0;
    
}

ul.site-navigation ul {
    list-style: none;
     height: 50px;
     left: 0;
     z-index: 1000;
    padding: 0;
    display: none;
    
}

ul.site-navigation ul li {
     float: none;
     line-height: 50px;
    
 }

ul.site-navigation ul li a {
     font-weight: regular;
     font-size: 20px;
    
 }

ul.site-navigation li:hover ul {
     display: block;
    position: absolute;
    width: 125px;
    top: 100%;
    left: 0;
}

  .background-stock {
    background-image: url("bedroomsmall.jpg"), url("BuckinghamRoombetterstill.jpg");
    background-position: left top, right top;
    background-repeat: no-repeat, no-repeat;
    background-size: 50%;
}

    .background-home {
        background-image: url("showroom-interior-1.jpg");
        background-repeat: no-repeat;
        background-position: top;
    }

    .background-login {
        background-image: url("Harrogate_Bedroom.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
    }

    .background-current-customers {
        background-image: url("customers.jpg");
        background-repeat: no-repeat;
        background-position: top;
        background-size: 100%;
    }

    .titles-colour{
        font-size: xx-large;
        color: #c3ff00;
        font-weight: bold;
    }

    .titles-colour-deep{
        font-size: xx-large;
        color: #f60505;
        font-weight: bold;
    }

    .lounge-button {
        background-color: blue;
        width: 200px;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        position: absolute;
        top : 80px;
        right : 100px;
      }

      .bedroom-button {
        background-color: blue;
        width: 200px;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        position: absolute;
        top : 80px;
        left : 100px;
      }

      .left-button {
        background-color: blue;
        width: 200px;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        position: absolute;
        top : 210px;
        left : 100px;
      }

      .right-button {
        background-color: blue;
        width: 200px;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        position: absolute;
        top : 210px;
        right : 100px;
      }

      .middle-button {
        background-color: blue;
        width: 200px;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        position: absolute;
        top : 210px;
        right : 480px;
      }

      .cust-left-button {
        background-color: rgb(255, 0, 0);
        width: 200px;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        position: absolute;
        top : 110px;
        left : 100px;
      }

      .cust-right-button {
        background-color: rgb(255, 0, 0);
        width: 200px;
        font-size: 20px;
        padding: 10px;
        border-radius: 5px;
        color: white;
        cursor: pointer;
        position: absolute;
        top : 110px;
        right : 100px;
      }


      .container {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .img {
        max-width: 25%;
        max-height: 15%;
        float: left;
      }


      .text {
        font-size: 20px;
        padding-left: 20px;
        padding-top: 5%;
        float: left;
      }


      .split-right {
        font-size: 20px;
        padding-right: 20px;
        padding-top: 5%;
        float: right;
      }


      .p {
        color: #00ff1e;
    }