{% extends "layout.html" %}

{% block title %}
Password Incorrect
{% endblock %}

{% block main %}

<div class="container">
    <div class="image">
        <img src= "{{ url_for('static',filename='error-angle-2.jpg') }}">
    </div>
    <div class="text">
        <form action="/register" method="GET">
            <td><button class="btn btn-primary" type="submit">Register again</button></td>
        </form>
        <h2 class ="titles-colour-deep">The name "{{ username }}" is already in use, Please choose another</h2>
        <tbody>        
    </div>

    
</div>

{% endblock %}