{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<link href="/static/styles.css" rel="stylesheet">
<body class="background-home"> 
<img src= "{{ url_for('static',filename='logo.jpg') }}">
    <h2 class ="titles-colour">Alexander Ellis: Orders</h2>
    <h2 class ="titles-colour">You are Logged in as {{ user }} </h2>
        <body>
                <form action="/open_orders">
                    <td><input type="hidden" name="user" VALUE="{{ user }}"></td>                     
                    <td><button class="left-button" type="submit">Add to an existing Order</button></td>
                </form>
                <form action="/payments"> 
                    <td><input type="hidden" name="user" VALUE="{{ user }}"></td>   
                    <td><button class="middle-button" type="submit">Take a Payment</button></td>
                </form>                             
                <form action="/view_stock_list">                       
                    <td><button class="right-button" type="submit">View Current Stock Lists</button></td>
                </form>    
                <form action="/gallery">                       
                    <td><button class="bottom-button" type="submit">Picture Gallery</button></td>
                </form>             
        
    </body> 
    


{% endblock %}