{% extends "layout.html" %}

{% block title %}
Home
{% endblock %}

{% block main %}
<link href="/static/styles.css" rel="stylesheet">
<body class="background-home"> 
<img src= "{{ url_for('static',filename='logo.jpg') }}">
    <h2 class ="titles-colour">Alexander Ellis: Orders</h2>
    <h2 class ="titles-colour">You are Logged in as {{ user }} </h2>
        <body>
                <form action="/open_orders">
                    <input type="hidden" name="user" VALUE="{{ user }}">            
                    <button class="left-left-button" type="submit">Add to an existing Order</button>
                </form>
                <form action="/open_orders"> 
                    <input type="hidden" name="user" VALUE="{{ user }}">
                    <button class="left-left-button" type="submit">Take a Payment</button>
                </form>                             
                <form action="/view_stock_list">                       
                    <button class="left-left-button" type="submit">View Current Stock Lists</button>
                </form>              
        
    </body> 
    


{% endblock %}