{% extends "layout.html" %}

{% block title %}
Main Screen
{% endblock %}

{% block main %}
<div class="section">

    <h2>Current Stock of Lounge furniture</h2>
    <form action="/stock_list">                     
        <td><button class="btn btn-primary" type="submit">Back</button></td>
    </form>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Range</th>
                <th class="text-start">Name</th>
                <th class="text-start">Description</th>
                <th class="text-start">Price</th>
            </tr>
        </thead>
        <tbody>
            {% for row in lounge %}
            <tr>
                <td class="text-start">{{ row["Range"] }}</td>
                <td class="text-start">{{ row["Name"] }}</td>
                <td class="text-start">{{ row["Description"] }}</td>
                <td class="text-start">{{ row["selling_price"] |GBP }}</td>
                <form action="/add_to_order" method="POST">
                    <td><input type="hidden" name="item_id" VALUE="{{ row['item_id'] }}"></td> 
                    <td><input type="hidden" name="order_no" VALUE="{{ order_no }}"></td>   
                    <td class="text-start"><input class="form-control mx-auto w-auto" name ="Quantity" placeholder="Quantity to order" type="number"></td>
                    <td class="text-start"><button class="btn btn-primary" type="submit">Add to Order</button></td>
                </form>
            </tr> 
            {% endfor %}
        </tbody>
    </div>
</form>


{% endblock %}