{% extends "layout.html" %}

{% block title %}
Current Orders 
{% endblock %}

{% block main %}
<div class="section">

    <h2>Current Orders</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th class="text-start">Staff Member</th>
                <th class="text-start">View Contents</th>
                <th class="text-start">Customer</th>
                <th class="text-start">Name</th>
                <th class="text-start">Order Number</th>
                <th class="text-start">Order Date</th>
                <th class="text-start">Delivery Date</th>
                <th class="text-start">Order Value</th>
                <th class="text-start">Deposit Paid</th>
                <th class="text-start">Balance Outstanding</th>
                <th class="text-start"> Amount Paid</th>
                <th class="text-start"> Make Payment</th>
            </tr>
    </thead>
        <tbody>
            {% for row in ord_detail %}
            <tr>
                <td class="text-start">{{ row["staff_member"] }}</td>
                <form action="/show_content" method="POST">
                    <td><input type="hidden" name="order_no" VALUE="{{ row['order_id'] }}"><button class="btn btn-primary" type="submit">Itemised</button></td>
                </form>
                <td class="text-start">{{ row["first_name"] }}</td>
                <td class="text-start">{{ row["last_name"] }}</td>
                <td class="text-start">{{ row["order_id"] }}</td>
                <td class="text-start">{{ row["order_date"] }}</td>
                <td class="text-start">{{ row["delivery_date"] }}</td>
                <td class="text-start">{{ row["total_cost"] |GBP }}</td>    
                <td class="text-start">{{ row["deposit"] |GBP }}</td> 
                <td class="text-start">{{ row["balance"] }}</td>
                
                
                  
                <form action="/pay" method="POST">
                    <td><input type="hidden" name="order_no" VALUE="{{ row['order_id'] }}"><button class="btn btn-primary" type="submit">Pay</button></td>
                </form>
                </tr>
            {% endfor %}       

        </tbody>
    </table>
</div>
{% endblock %}