{% extends "layout.html" %}

{% block title %}
New Order
{% endblock %}

{% block main %}
<div class="section">

    <h2>Order Contents</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <form action="/stock_list" method="POST">
                    <td><input type="hidden" name="order_no" VALUE="{{ order_number }}"><button class="btn btn-primary" type="submit">Add to Order</button></td>
                </form> 
                <li class="nav-item">
                <a class="nav-link" href="/open_orders">Back to Current Orders</a>
                </li>
             
                <td class="border-0 fw-bold text-end">Order Number</td>
                <td class="border-0 fw-bold text-start">{{ order_number }}</td>
                <td class="border-0 fw-bold text-end" colspan="-4">Customer Name</td>
                <td class="border-0 fw-bold text-start">{{ customer_name }}</td>               
               
            </tr>
            <tr>
                <td></td>
                <td class="border-0 fw-bold text-end" colspan="-4">Total Order Cost</td>
                <td class="border-0 fw-bold text-start">{{ total_cost |GBP }}</td>
                <td class="border-0 fw-bold text-end" colspan="-4">Delivery Date</td>
                <td class="border-0 fw-bold text-start">{{ delivery_date }}</td>
            </tr>
                <th></th>
                <th class="text-start">Staff Member</th>
                <th class="text-start">Order Date</th>
                <th class="text-start">Quantity</th>
                <th class="text-start">Name</th>
                <th class="text-start">Description</th>
                <th class="text-start">Price</th>
            </tr>
        </thead>
        <tbody>         
            <tr>
                {% for row in items %}
                <form action="/stock_list" method="POST">
                    <td><input  type="hidden" name="order_no" VALUE="{{ order_number }}"><button class="btn btn-primary" type="submit">Remove Item (to do)</button></td>
                </form>
                <td class="text-start">{{ row["staff_member"] }}</td>
                <td class="text-start">{{ row["order_date"] }}</td>
                <td class="text-start">{{ row["Quantity"] }}</td>
                <td class="text-start">{{ row["Name"] }}</td>
                <td class="text-start">{{ row["Description"] }}</td>
                <td class="text-start">{{ row["selling_price"] |GBP }}</td>                                           
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}