{% extends "layout.html" %}

{% block title %}
New Order
{% endblock %}

{% block main %}
<div>
    <h2>Order Contents</h2>
    <tr>
        <table class="table">
        <form action="/open_orders">                    
            <td><button class="btn btn-primary" type="submit">Back to Current Orders</button></td>
        </form>
        <form action="/stock_list" method="POST">
            <td><input type="hidden" name="user" VALUE="{{ user }}"></td>  
            <td><input type="hidden" name="order_no" VALUE="{{ order_number }}"><button class="btn btn-primary" type="submit">Add to Order</button></td>
        </form> 
        <form action="/cancel_order" method="POST">
            <td colspan="2"><input type="hidden" name="order_no" VALUE="{{ order_number }}"><button class="btn btn-danger" type="submit">Cancel Order</button></td>
        </form>
    </tr>
    <tr>
        <td class="border-0 fw-bold text-center">Customer Name {{ customer_first }} {{ customer_name }}</td>
        <td class="border-0 fw-bold text-center">Staff Member {{ staff_member }}</td>
    </tr>
    <tr>
        <td class="border-0 fw-bold text-center">Order Number {{ order_number }}</td>
        <td class="border-0 fw-bold text-center">Total Order Cost {{ total_cost |GBP }}</td>
        <td class="border-0 fw-bold text-center">Delivery Date {{ delivery_date }}</td>
    </tr>
</table>
<tr></tr>
</div>
    <table>
        <tbody>         
            <tr>
                <table class="table table-striped">
                    <tr>
                        <th></th>
                        <th class="text-center">Quantity to Remove</th>
                        <th></th>
                        <th class="text-center">Staff Member</th>
                        <th class="text-start">Order Date</th>
                        <th class="text-start">Quantity</th>
                        <th class="text-start">Item Name</th>
                        <th class="text-start">Item Description</th>
                        <th class="text-start">Price Each</th>
                    </tr>
                {% for row in items %}
                <form action="/remove_item" method="POST">
                    <td><input type="hidden" name="item_id" VALUE='{{ row["item_id"] }}'></td>
                    <td class="text-start"><input class="form-control mx-auto w-auto" name ="remove" placeholder="Number" type="number"></td>
                    <td><input  type="hidden" name="order_no" VALUE="{{ order_number }}"><button class="btn btn-danger" type="submit">Remove Item</button></td>
                </form>
                <td class="text-center">{{ row["staff_member"] }}</td>
                <td class="text-start">{{ row["order_date"] }}</td>
                <td class="text-start">{{ row["Quanities"] }}</td>
                <td class="text-start">{{ row["Name"] }}</td>
                <td class="text-start">{{ row["Description"] }}</td>
                <td class="text-start">{{ row["selling_price"] |GBP }}</td>  
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}