{% extends "layout.html" %}

{% block title %}
New Order
{% endblock %}

{% block main %}
<div class="section">

    <h2>Order Contents</h2>
    <table class="table table-striped">
        <tr>
            <form action="/open_orders">                    
                <td><button class="btn btn-primary" type="submit">Back to Current Orders</button></td>
            </form>
            <form action="/stock_list" method="POST">
                <td><input type="hidden" name="order_no" VALUE="{{ order_number }}"><button class="btn btn-primary" type="submit">Add to Order</button></td>
            </form> 
            <form action="/stock_list" method="POST">
                <td><input type="hidden" name="order_no" VALUE="{{ order_number }}"><button class="btn btn-primary" type="submit">Delete Order (to do)</button></td>
                <td class="border-0 fw-bold text-end">Customer Name</td>
                <td class="border-0 fw-bold text-end">{{ customer_first }}</td> 
                <td class="border-0 fw-bold text-start">{{ customer_name }}</td> 
            </form> 
        </tr>
        <tr>                                       
                <td class="border-0 fw-bold text-end">Order Number</td>
                <td class="border-0 fw-bold text-start">{{ order_number }}</td>
                <td class="border-0 fw-bold text-end">Staff Member</td>
                <td class="border-0 fw-bold text-end">{{ staff_member }}</td>               
               
            </tr>
            <tr>
                <td></td>
                <td class="border-0 fw-bold text-end" colspan="-4">Total Order Cost</td>
                <td class="border-0 fw-bold text-start">{{ total_cost |GBP }}</td>
                <td class="border-0 fw-bold text-end" colspan="-4">Delivery Date</td>
                <td class="border-0 fw-bold text-start">{{ delivery_date }}</td>
            </tr>
                <th></th>
                <th class="text-start">Staff Member</th>
                <th class="text-start">Order Date</th>
                <th class="text-start">Quantity</th>
                <th class="text-start">Item Name</th>
                <th class="text-start">Item Description</th>
                <th class="text-start">Price Each</th>

            </tr>
        </thead>
        <tbody>         
            <tr>
                {% for row in items %}
                <form action="/stock_list" method="POST">
                    <td><input  type="hidden" name="order_no" VALUE="{{ order_number }}"><button class="btn btn-primary" type="submit">Remove Item (to do)</button></td>
                </form>
                <td class="text-start">{{ row["staff_member"] }}</td>
                <td class="text-start">{{ row["order_date"] }}</td>
                <td class="text-start">{{ row["Quanities"] }}</td>
                <td class="text-start">{{ row["Name"] }}</td>
                <td class="text-start">{{ row["Description"] }}</td>
                <td class="text-start">{{ row["selling_price"] |GBP }}</td>  
                       
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}