{% extends "layout.html" %}
{% block title %}
Payments Taken
{% endblock %}

{% block main %}
<div class="section">

    <h2>Payments Taken</h2>
    <div class="section">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Order Number</th>
                    <th class="text-start">Payment Date</th>
                    <th class="text-start">Order Value</th>
                    <th class="text-start">Deposit Paid</th>
                    <th class="text-start">Amount Paid</th>
                    <th class="text-start">Balance Outstanding</th>
                </tr>
        </thead>
        <tbody>
            {% for row in taken %}
            <tr>
                <td class="text-start">{{ row["order_number"] }}</td>
                <td class="text-start">{{ row["date_paid"] }}</td>
                <td class="text-start">{{ row["total_cost"] |GBP }}</td>    
                <td class="text-start">{{ row["deposit"] |GBP }}</td>
                <td class="text-start">{{ row["amount_paid"] |GBP}}</td>
                <td class="text-start">{{ (row["total_cost"] - row["deposit"] - row["amount_paid"] ) |GBP }}</td>
            </tr>
            {% endfor %}  
        </tbody>
{% endblock %}