{% extends "layout.html" %}

{% block title %}
Main Screen
{% endblock %}
{% block navbar %} {% endblock %}
{% block main %}


<div class="section">
    <h2 class ="titles-colour-deep">Alexander Ellis</h2>
    <h2 class ="titles-colour-deep">Register New User</h2>
    <table class="table table-striped">
        <tbody>
             <form action="/register" method="POST">
                    <body class="background-login">
                        <div class="row my-custom-row justify-content-center align-items-center">
                            <div class="col-sm-4">
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Name" type="text">
                                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
                            </div>
                        </div>
                    </div>
            <button class="btn btn-primary" type="submit">Submit</button>            
        </tbody>
    </table>
</div>
</div>
{% endblock %}