{% extends "layout.html" %}

{% block title %}
Stock Selector
{% endblock %}

{% block main %}
<div class="section">

    <h2>Current Stock</h2>
   
        <thead>
            <div id="nav">
                    <li><a href="lounge.html">Lounge Furniture</a></li>
                    <li><a href="/bedroom.html">Bedroom Collection</a></li>
                    <li><a href="#">New Items to Order in</a></li>
                       
                    </li>
               
            </div>
        </thead>
        <tbody>
       
        </tbody>
    </div>
{% endblock %}