{% extends "layout.html" %}

{% block title %}
Stock Selector
{% endblock %}

{% block main %}
<div class="section">

    <h2>Current Stock</h2>
   
        <thead>
            <div id="nav">
                <form action="/lounge" method="POST">
                    <td><input name="order_no" VALUE="{{ order_no }}"></td>
                    <td><button class="btn btn-primary" type="submit">Lounge Furniture</button></td>
                </form>
                <form action="/bedroom" method="POST">
                    <td><input name="order_no" VALUE="{{ order_no }}">
                    <td><button class="btn btn-primary" type="submit">Bedroom Collection</button></td>
                </form>
                    <li><a href="#">New Items to Order in</a></li>

                       
                   
               
            </div>
        </thead>
        <tbody>
       
        </tbody>
    </div>
{% endblock %}