{% extends "layout.html" %}

{% block title %}
Username Incorrect
{% endblock %}

{% block main %}

<div class="container">
    <div class="image">
        <img src= "{{ url_for('static',filename='error-angle-2.jpg') }}">
    </div>
    <div class="text">
        <form action="/" method="GET">
            <td><button class="btn btn-primary" type="submit">Login again</button></td>
        </form>
        <h2 class ="titles-colour-deep">Must Enter a Registered Username</h2>
        <form action="/register" method="GET">
            <td><button class="btn btn-primary" type="submit">Register New User</button></td>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-left">In-Valid Username given :</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-center", style="color:rgb(199, 1, 51)">{{ user }}</td> 
                </tr>
            </tbody>  
        </table>
    </div>

    
</div>

{% endblock %}